<div *ngIf="!current">

    no data

</div>


<div *ngIf="current">

    <div fxLayout="row">
        <div fxFlex="66%">
            {{current.city}},{{current.country}}
        </div>

        <div fxFlex>
            {{today | date:'h:mm a z'}}
        </div>

    </div>


    <div fxLayout="row">


        <div fxFlex="66%">

            <img [src]='current.image' alt="">

        </div>

        <div fxFlex>

            temperatur {{current.temp}}&#8451;

        </div>






    </div>

    {{current.desc}}

</div>